
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  .footer li{
    text-decoration: none;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  
   
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
    
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    list-style: none;
  }
  
  
  .footer-section ul li {
    margin: 5px 0;
    
  }
  
  .footer-section p span {
    margin-right: 5px;
  }
  