.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.footer li {
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allows wrapping when screen size is small */
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section p span {
  margin-right: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center; 
  }

  .footer-section {
    text-align: center;
    padding: 20px 0; 
  }

  .footer-section ul li {
    margin: 8px 0; 
    
     
      list-style: none;
    
  }
}
