
  .navbar-contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
    color: white;
  }
  .navbar-second{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    gap: 100px;
    
  }


  .navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    font-weight: bold;
  }
  
  .navbar-links li {
    margin-right: 25px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }



  
  
  .navbar-contact {
    font-size: 14px;
  }
  
  

  .navbar-links a {
    
    text-decoration: none;
    color: black;
  }
  
  