.vehicle-detail-container {
  padding: 20px;
 
  max-width: 1200px;
  margin-left: 160px;
  background-color: hsl(26, 100%, 97%);
  border-radius: 40px;
}

.detail-header {
  display: flex;
  gap: 20px;
}


.vehicle-image {
  min-width: 600px;
  border-radius: 10px;
  margin-top: 40px;
}

.vehicle-info{
  margin-left: 10px;
}

.vehicle-info table {
  margin: 10px 0;
  font-size: 1.2rem;
}

.Location-details
{
    width: 300px;
}
.pay-btn{
  background-color: #d49a7d;
  font-size: 15px;
  width: 100px;
  color: white;
  font-weight: bold;
  
}
.pay-btn:hover{
  cursor: pointer;
}

.second-item{
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  
  
}
.second-para{
  font-size: 1.4rem;
  
 margin: 30px 120px;
  text-align: center;
  
  
}


.vehicle-info input,
.vehicle-info button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.crossponding-vehicles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .vehicle-detail-container {
    margin: 20px; /* Reduce margin */
    padding: 15px; 
    /* Reduce padding */
  
  }

  .detail-header {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .vehicle-image {
     /* Center image */
     
    min-width: 450px;
  }

  .vehicle-info table {
    font-size: 1rem; /* Smaller font size for smaller screens */
  }

  .pay-btn {
    font-size: 12px;
    padding: 6px;
  }

  .second-item {
    font-size: 1.5rem;
  }

  .second-para {
    font-size: 1.2rem;
  }
}



