/* CarList.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  
  

 
 
  
  .car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
    padding: 1.5em 0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;

  }
  
  .car-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .car-card:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .car-image {
    width: 100%;
    height: 220px;
  }
  
  .car-details {
    padding: 1em;
  }
  
  .car-details h3 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .car-details p {
    margin: 0.5em 0;
    color: #555;
  }
  
  .car-price {
    font-weight: bold;
    color: #333;
  }
 
  
  
  